.gridStyle {
  border: 1px solid #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 100%;
  height: 450px
}

.ngGrid {
  background-color: #ffffff;
}

.w3-tilte-bar{
  padding-bottom: 15px;
  height: 50px;
  vertical-align: top;
}

.w3-tilte-bar h1{
  margin: 0px;
}

.w3-tilte-bar nav{
  margin-top: 5px;
}