<ol class="breadcrumb">
    <li>
        <i class="glyphicons imac"></i>
        <a href="#">
            Dashboard
        </a>
    </li>
    <li class="active">
        Submenu
    </li>
</ol><!--/breadcrumb-->

<div class="search-box">
    <form class="sidebar-search">
        <div class="form-group">
            <input type="text" placeholder="Start Searching..." data-default="130">
            <button class="submit">
                <i class="glyphicons search"></i>
            </button>
        </div>
    </form>
</div><!--/search-box-->