<!--div class="page-header">
    <h1>Home <small>Dashboard </small></h1>
</div-->


<div class="jumbotron" style="margin-top: 15px">
    <h1>Herzlich Willkommen...</h1>
    <p><b>... in unserer Applikation w3Pages</b></p>
    <br/>
    <p>Mit diesem Produkt können sie ganz eifach Ihre Webseite verwalten.</p>
    <p>Viel Spass wünscht Ihnen Ihr w3tec Team</p>
    <br/>
    <p><b>In Warteschlange...</b></p>
    <ul>
        <li>Partner Verwaltung</li>
        <li>Seiten Verwaltung</li>
    </ul>
</div>


