<div class="w3-form">
    <form ng-submit="save()" role="form" name="form" ng-class="form" class="form">

        <div class="row" style="margin-bottom: 20px">
            <div class="col-sm-10">
                <input type="text" data-ng-model="Page.title" class="input-lg form-control" id="inputTitle" placeholder="Page Name" required autofocus>
            </div>
            <div class="col-sm-2 ">
                <button type="submit" class="btn btn-success btn-lg btn-block pull-right" data-ng-disabled="form.$invalid">Speichern</button>
            </div>
        </div>

        <div class="form-group">
            <label for="inputLead">Lead</label>
            <input type="text" data-ng-model="Page.lead" class="form-control" id="inputLead" placeholder="">
        </div>

        <div class="form-group">
            <label for="inputIndex">Reihenfolge</label>
            <input type="number" data-ng-model="Page.index" class="form-control" id="inputIndex" placeholder="Reihenfolge ( Wert muss grösser als 0 sein )">
        </div>

    </form>

</div>


<div class="w3-editor" data-ng-show="hasContent">
    <div text-angular="text-angular" ta-toolbar="[['redo', 'undo'],['h3','p'],['bold','italics','underline','ul', 'ol'],['html', 'insertImage', 'insertLink', 'unlink']]" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
</div>


