<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3">
        <div class="account-wall" ng-class="loginFormClass">

            <form ng-submit="login()" role="form" name="loginForm" ng-class="loginFormClass" class="form-signin">
                <h2 class="form-signin-heading">Login</h2>
                <input type="text"      ng-model="username"    class="form-control" placeholder="Email" required autofocus>
                <input type="password"  ng-model="password"    class="form-control" placeholder="Passwort" required>

                <!--label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </label-->

                <button data-ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">
                    <i class="glyphicons white log_in"></i>
                    Anmelden
                </button>
            </form>

        </div>
    </div>
</div>